:root {
    --OURO-SANDOW: #FFD700;
    --PRETO-ACADEMIA: #0A0A0A;
    --BRANCO-REVISTA: #F2F2F2;
    --BRONZE-TAN: #e6b000ad;
    --SOMBRA-PESADA: #161616;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}















